body {
  text-align: center;
  justify-content: center;
  background-image: url(../images/the_hall_of_planetarium.jpg);
  background-size: cover;
  /* background: linear-gradient(to right, #414345, #232526); */
  color: white;
  font-size: 20px;
  font-weight: bold;
  /* text-shadow: 2px 2px white; */
}

input[type="submit"] {
  display: block;
  margin: auto;
  opacity: 0.7;
}

input[type="submit"]:hover {
  color: darkgoldenrod;
}

textarea {
  opacity: 0.7;
}
